.item{
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    scroll-snap-align: start;
}

.item__container{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item__text{
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    font-size: 34px;
    color: #393c41;
    align-items: center;
    flex: 1;
    text-align: center;
}

.item__textDesc{
    margin-top: 1%;;
    font-weight: 200;
    font-size: 13px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: .3s;
}
.item__textDesc:hover{
    border-bottom: 2px solid rgba(0, 0, 0, 1);

}

.item__lowerThird{
    display: flex;
    margin-bottom: 5px;
}
@media(max-width: 600px){
    .item__lowerThird{
        flex-direction: column;
    }
}

.item__buttons{
    display: flex;
}

.item__expand{
    color: black;
    animation: jump-expand 1.5s infinite; 
}
@keyframes jump-expand{
    50%{
        transform: translateY(-5px);
    }
    65%{
        transform: translateY(0);
    }
    80%{
        transform: translateY(-4px);
    }
}
